.active-link {
  background-color: #4B5320 !important;
  border-color: #7c8837 !important;
  color: #ffffff !important;
  font-weight: bold;
  border-radius: 8px;
  transition: all 1.0s;
}
  a {
    text-decoration: none;
  }

  .sidebar-link {
    transition: all 0.3s;
  }