.p-button-verde {
    background-color: #4B5320 !important;
    border-color: #7c8837 !important;
    color: #fff !important;
  }

  .btn-salvar {
    background-color: #4B5320 !important;
    border-color: #7c8837 !important;
    color: white !important;
    font-weight: bold;
  }
  